

# Tools
**/NO_INCLUDE/**
**.bat

# My basic templates
**/defaultsDiff.xml
**/repairLaserDiff.xml
**/scoutShipType.xml
**/diffTemplate.xml

# Match the different DiffTemplates e.g. AdvScoutDiffTemplate.xml
**/*DiffTemplate.xml

# Includes Calculator
**.xslx

# Files marked -OLD.ext
**/*-OLD.*